*{
    font-family: fantasy;
}
#board, .boardInfo {
 max-width: 500px;
}
#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#start, .boardInfo{
    font-size: 20px;
}
#gameOver {
    display: none;
}
.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#start {
    background-color: orangered;
    border: none;
    color: white;
}
#scoreBoard {
    display: inline-flex;
}
.square {
    aspect-ratio: 1;
}
.emptySquare {
    background-color: rgba(125, 33, 33, 0.582);
}
.snakeSquare {
    background-color: rgba(0, 158, 243, 0.737);
}
.foodSquare {
    background-color: rgba(188, 104, 104, 0.244);
}
